.accueil {
  width: 100vw;
  height: 100vh;

  text-align: center;

  display: flex;
  justify-content: center;

  & > img {
    align-self: center;
  }

  opacity: 0;
  transition: opacity 1s;

  &.affiche {
    opacity: 1;
  }
}
