.accueil {
  background-image: url('/images/bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;

  h1 {
    padding-top: 10vh;
    width: 80vw;
    margin: 0 auto;
  }

  h2 {
    font-family: apercu;
    font-weight: lighter;
    margin-top: 9vh;
    text-align: center;
    font-size: 1em;
  }
  
  #icones-accueil {
    margin: 0 auto;
    margin-top: 9vh;
    height: 20vh;
    width: 75vw;
    display: flex;
    justify-content: space-around;

    .option-nav {
      position: relative;
      height: 100%;
      width: 25vw;

      p {
        position: absolute;
        width: 100%;
        bottom: 0;

        font-family: apercu;
        font-weight: lighter;
        margin-top: 30px;
        text-align: center;
        text-transform: uppercase;
      }

      img {
        position: absolute;
        top: 0;
        left: 25%;
        width: 50%;
      }
    }
  }

  #input-debut {
    display: none;
    margin: 0 auto;
    margin-top: 5vh;
    width: 75vw; 
    height: 5vh;
  }

}
