.accueil {
  background-image: url('/images/bg.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;

  width: 100%;
  height: 100%;

  h1 {
    position: relative;
    padding-top: 10%;
    width: 80%;
    margin: 0 auto;
  }

  h2 {
    position: relative;
    font-family: apercu;
    font-weight: lighter;
    margin-top: 9%;
    text-align: center;
    font-size: 1em;
  }

  #video-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  #icones-accueil {
    margin: 0 auto;
    margin-top: 9%;
    height: 20%;
    width: 75%;
    display: flex;
    justify-content: space-around;

    .option-nav {
      position: relative;
      height: 100%;
      width: 30%;

      p {
        position: absolute;
        width: 100%;
        bottom: 0;

        font-family: apercu;
        font-weight: lighter;
        margin-top: 30px;
        text-align: center;
        text-transform: uppercase;
      }

      img {
        position: absolute;
        top: 0;
        left: 25%;
        width: 50%;
      }
    }
  }

  .input-debut {
    position: relative;
    margin: 0 auto;
    margin-top: 5%;
    width: 75%; 
    height: 10%;
  }

}
