@import 'sass/couleurs';

#footer {
  font-family: apercu;
  height: 10%;

  position: relative;

  .menu-principal {
    display: flex;
    justify-content: space-evenly;
    height: calc(100% - 3px);
    border-top: 3px solid $gris;
  }

  .icone {
    opacity: 0.35;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      height: 60%;
    }
  }

  .panneau-interaction {
    display: none;
    width: 100%;
    height: 100%;
    background-color: white;
    border-top: 3px solid $gris;
    position: absolute;
    top: calc(-100% - 3px);
  }

  #panneau-loupe {
    min-height: 70px;

    #info-loupe {
      padding-left: 10%;
      display: flex;
      justify-content: left;
      align-items: center;
      height: 40%;
      img {
        height: 70%;
      }
      .texte-info-loupe {
        padding-left: 5%;
      }
    }

    .numero {
      height: 50%;
      width: 80%;
      margin: 0 auto;

      .numero_oeuvre {
        border: 0;
      }
    }
  }

  #panneau-aleatoire {
    .container-selecteur-oeuvre {
      height: 100%;

      display: flex;
      justify-content: center;
      align-items: center;
      & > * {
        height: 60%;
      }
    }
  }

  #panneau-partage {
    text-align: center;
    line-height: 250%;
    font-weight: bold;

    position: fixed;
    top: 0;
    height: 90%;
    border: 0;

    overflow-y: scroll;

    background-image: url('/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;

    .background-partage {
      width: 80%;
      margin: 0 auto;
    }

    .partager {
      margin-top: 5%;
      height: 10%;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 100%;
      }
    }
  }

  #panneau-info {
    position: absolute;
    top: calc(-500% - 3px);
    height: 500%;
    overflow: auto;
  }

  #logos-expo {
    margin: 10%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    
    img {
      height: 100%;
    }
  }

  #texte-sommaire {
    font-weight: bold;
    margin: 0 10%;
  }

  #texte-descriptif {
    margin: 5% 10%;
  }
}
