.footer-oeuvre {

  position: relative;
  padding: 0 5%;

  .icone {
    transition: left 1s;
    position: absolute;
  }

  .diese {
    left: calc(25% - 25px);
  }

  .question {
    left: calc(50% - 25px);
  }

  .partager {
    left: calc(75% - 25px);
  }

  img {
    width: 50px;
  }

  .gauche {
    left: calc(5% - 25px);
  }

  .input-container {
    position: absolute;
    left: 25%;
    width: 70%;

    input {
      width: 100%;
    }
  }
}
