.numero_oeuvre {
  border: 2px solid white;
  border-radius: 50px;

  width: 100%;
  height: 100%;

  form {
    font-family: apercu;
    font-size: 25px;
    font-weight: bold;

    height: 100%;
    padding: 0 5%;
    float: left;
    width: 60%;

    label {
      height: 100%;
      line-height: 100%;
    }

    input {
      font-family: apercu;
      font-size: 25px;
      font-weight: bold;
      text-transform: uppercase;

      height: 100%;
      line-height: 100%;
      background-color: rgba(0,0,0,0);
      border: 0;
    }

    #couleur {
      width: 10%;
    }

    #numero {
      width: 40%;
    }
  }

  .bouton-numero-oeuvre {
    float: right;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .container-fleche {
      align-self: center;
      background-color: black;
      width: 80%;
      margin: 0 auto;
      height: 80%;
      border-radius: 50px;

      display: flex;
      justify-content: center;
      align-items: center;

      img {
        width: 55%;
      }
    }
  }

}
