@import 'sass/couleurs';

.oeuvres {
  width: 100vw;
  height: 85vh;

  .oeuvre {
    width: 100%;
    height: 100%;

    font-family: apercu;

    header {
      height: 30%;

      #entete {
        height: calc(50% - 2px);
        border-bottom: 2px solid $gris;

        .logo {
          float: left;
          width: 60px;
          height: 100%;

          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;

          border-right: 2px solid $gris;

          img {
            display: block;
            width: 50%;
          }

          .NB, .L, .V {
            color: $noir;
          }

          .R {
            color: $rouge;
          }

          .J {
            color: $jaune;
          }

          .B {
            color: $bleu;
          }
        }

        .informations {
          float: right;
          width: calc(100% - 62px);
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .nom-oeuvre {
            font-size: 1em;
            font-weight: bold;
            padding: 0 20px;
          }

          .nom-artiste {
            font-size: 0.8em;
            font-weight: lighter;
            padding: 0 20px;
            text-transform: uppercase;
          }
        }
      }

      #dimensions {
        height: 50%;

        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;

        .dimension {
          font-size: 0.85em;
          font-weight: bold;
          text-transform: uppercase;

          border-radius: 50px;
          padding: 5px 10px;

          &.inactif {
            border: 1px solid $gris;
            color: $noir;
          }

          &.actif {
            border: 0;
          }
        }

        .blanc {
          color: $noir;
          background-color: $blanc;
        }

        .NB, .L, .V {
          color: $blanc;
          background-color: $noir;
        }

        .R {
          color: $blanc;
          background-color: $rouge;
        }

        .J {
          color: $blanc;
          background-color: $jaune;
        }

        .B {
          color: $blanc;
          background-color: $bleu;
        }
      }
    }

    .contenu-dimension {
      height: calc(45% - 3px);
      border-top: 3px dotted $gris;

      overflow-x:hidden;
      overflow-y: scroll;

      padding: 20px 30px;

      text-align: left;

      .nom-dimension {
        text-transform: uppercase;
        margin-bottom: 20px;
      }
    }

    .affichage-liens {
      height: calc(8% - 3px);
      border-top: 3px dotted $gris;

      .texte {
        text-align: left;
        width: 100%;
        padding-left: 10px;
      }

      display: flex;
      align-items: center;
      font-family: apercu;
      font-weight: lighter;
      text-transform: uppercase;
      color: $gris;
    } 

    .liens {
      height: 10%;
      justify-content: space-around;
      border-top: 3px solid $gris;

      .lien {
        width: 50%;
        height: 100%;

        display: flex;
        text-align: left;
        align-items: center;
        font-family: apercu;
        font-size: 0.9em;
        font-weight: bold;
        text-transform: uppercase;
        padding-left: 10px;

        &:first-of-type {
          border-right: 3px solid $gris; 
        }
      }

    }

  }

}
