.oeuvre {
  width: 100%;
  height: 90%;

  text-align: center;

  header {
    height: 10%;

    display: flex;
    justify-content: space-between;

    & > * {
      align-self: center;
    }

    .nom-oeuvre {
      font-weight: bold;
    }

    .dimension-precedente, .dimension-suivante {
      padding: 10px;
    }
  }

  .contenu-dimension {
    height: 85%;
    overflow: scroll;
    margin: 10px 20px;
  }

}
