extends layout

block content
    #cercle-accueil.flex
      img(src="/images/logo_cm.jpg", style="width: 50%;")
      img(src="/images/logo_cm.svg", style="width: 50%;")
    #container-application
    
