extends layout

block script
  script(src="/javascripts/application.js")
  script!= parcours

block content
  #erreur-orientation
    img(src="/images/Visuels/Accueil/coma_logo-accueil.svg")
    span L'application Couleurs Manifestes ne supporte actuellement pas cette orientation d'écran
  #container-application
  
