doctype html
html(lang="fr")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/mobile.css')
    link(rel='stylesheet', href='/stylesheets/app.css')
    link(rel='stylesheet', href='/stylesheets/oeuvre.css')
    link(rel='stylesheet', href='/stylesheets/accueil.css')
    meta(desc="Exposition")
    meta(charset="utf-8")

    // Vue
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")

    // Interne
    script(src="/javascripts/elements/accueil.js")
    script(src="/javascripts/elements/erreur.js")
    script(src="/javascripts/elements/interactions.js")
    script(src="/javascripts/elements/oeuvre.js")
    script(src="/javascripts/application.js")

  body
    block content

