doctype html
html(lang="fr")
  head
    title Couleurs Manifestes
    meta(desc="Exposition permanente")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")

    // Vue
    script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
    block script

  body
    block content

