doctype html
html(lang="fr")
  head
    title Couleurs Manifestes
    meta(name="desc" content="Exposition permanente")
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="icon",type="image/png",sizes="192x192",href="/android-icon-192x192.png")
    link(rel="icon",type="image/png",sizes="32x32",href="/favicon-32x32.png")
    link(rel="icon",type="image/png",sizes="96x96",href="/favicon-96x96.png")
    link(rel="icon",type="image/png",sizes="16x16",href="/favicon-16x16.png")

    //script(src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js") //- Prod
    script(src="https://cdn.jsdelivr.net/npm/vue") //- Dev
    block script

  body
    - var messages = getMessages()
    if messages.notify
      each msg in messages.notify
        .info-notification= msg
    if messages.error
      each msg in messages.error
        .error= msg
    block content

