extends layout

block script
  script(src="/javascripts/parcours.js")
  script!= parcours
  script!= temps_initial
  meta(property="og:url", content="http://couleurs-manifestes-staging.mbas.qc.ca/p/84517d11d0ede1da9c63d048cbf83778")
  meta(property="og:type", content="website")
  meta(property="og:title", content="Couleurs Manifestes")
  meta(property="og:image", content="http://couleurs-manifestes-staging.mbas.qc.ca/images/logo_cm.png")
  meta(property="og:description", content="Redécouvrez les collections du MBAS")
  meta(property="fb:app_id", content="3047912601901957")

block content
  script(async defer crossorigin="anonymus" src="https://connect.facebook.net/fr_CA/sdk.js")
  script.
    window.fbAsyncInit = function() {
      FB.init({
        appId            : '3047912601901957',
        autoLogAppEvents : true,
        xfbml            : false,
        version          : 'v4.0'
      });
    };
  #container-partager
