extends layout

block script
  script(src="/javascripts/partager.js")
  script!= parcours

//- TODO ajouter https://developers.facebook.com/docs/sharing/reference/share-dialog
block content
  #container-partager
