.accueil {
  width: 100vw;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  opacity: 0;
  transition: opacity 1s; }
  .accueil > img {
    align-self: center; }
  .accueil.affiche {
    opacity: 1; }
