body {
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif; }

.flex {
  display: flex;
  justify-content: center;
  align-items: center; }

#container-application {
  margin: auto;
  width: 100vw;
  height: 100vh; }

/***************** Vue transitions ***************/
.fade-enter-active, .fade-leave-active {
  transition: opacity 1s; }

.fade-enter, .fade-leave-to {
  opacity: 0; }
