.oeuvre {
  width: 100%;
  height: 90%;
  text-align: center; }
  .oeuvre header {
    height: 10%;
    display: flex;
    justify-content: space-between; }
    .oeuvre header > * {
      align-self: center; }
    .oeuvre header .nom-oeuvre {
      font-weight: bold; }
    .oeuvre header .dimension-precedente, .oeuvre header .dimension-suivante {
      padding: 10px; }
  .oeuvre .contenu-dimension {
    height: 85%;
    overflow: scroll;
    margin: 10px 20px; }
